@font-face {
  font-family: "LabGrotesque-Regular";
  src: url("/fonts/LabGrotesque/LabGrotesque-Regular.woff");
  font-display: swap;
}
@font-face {
  font-family: "LabGrotesque-Italic";
  src: url("/fonts/LabGrotesque/LabGrotesque-Italic.woff");
  font-display: swap;
}
@font-face {
  font-family: "LabGrotesque-Bold";
  src: url("/fonts/LabGrotesque/LabGrotesque-Bold.woff");
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: "LabGrotesque-Light";
  src: url("/fonts/LabGrotesque/LabGrotesque-Light.woff");
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  font-family: "LabGrotesque-Regular", "Helvetica Neue", "OpenSans-Regular",
    "SourceSansPro-Regular", Helvetica, Arial, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    sans-serif;
  font-style: normal;
  font-weight: 100;
  background: #f6f9fc;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "LabGrotesque-Regular", "Helvetica Neue", "OpenSans-Regular",
    "SourceSansPro-Regular", Helvetica, Arial;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}

.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 1rem;
}
.gap-4 {
  gap: 2rem;
}
.gap-5 {
  gap: 4rem;
}
.gap-6 {
  gap: 6rem;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.touch-pan-x {
  touch-action: pan-x;
}

.fit {
  width: fit-content;
}
